<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014228461334-v65u2adctvo6mcdhrs6d8rub0m7gls4d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014228461334-v65u2adctvo6mcdhrs6d8rub0m7gls4d</string>
	<key>API_KEY</key>
	<string>AIzaSyAU_7HO33xFc1OR3nW3Spx-D9dKYByR_vY</string>
	<key>GCM_SENDER_ID</key>
	<string>1014228461334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omerKilicaslan.FirebaseStudy</string>
	<key>PROJECT_ID</key>
	<string>database-example-6e158</string>
	<key>STORAGE_BUCKET</key>
	<string>database-example-6e158.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014228461334:ios:d0e560746ff017712cd237</string>
</dict>
</plist>